body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* HEAD */
.head {
    display: flex;
    background: linear-gradient(180deg,lightblue,blue);
    width: 100%;
    padding: 20px 100px;
}
.heading {
    font-size: 24px;
    font-family: 'Roboto',sans-serif;
    margin: 0 auto;
    font-weight: bold;
    color: azure;
}
